[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "theme/delta"]
	path = theme/delta
	url = https://github.com/catppuccin/delta.git
[submodule "theme/fzf"]
	path = theme/fzf
	url = https://github.com/catppuccin/fzf.git
[submodule "zsh/plugins/fzf-tab-source"]
	path = zsh/plugins/fzf-tab-source
	url = https://github.com/Freed-Wu/fzf-tab-source
[submodule "zsh/plugins/zsh-defer"]
	path = zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "theme/eza"]
	path = theme/eza
	url = https://github.com/catppuccin/eza.git
[submodule "theme/bat"]
	path = theme/bat
	url = https://github.com/catppuccin/bat.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
