[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "theme/delta"]
	path = theme/delta
	url = https://github.com/catppuccin/delta.git
[submodule "theme/zsh-fsh"]
	path = theme/zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh.git
[submodule "zsh/plugins/fsh"]
	path = zsh/plugins/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "theme/fzf"]
	path = theme/fzf
	url = https://github.com/catppuccin/fzf.git
[submodule "zsh/plugins/fzf-tab-source"]
	path = zsh/plugins/fzf-tab-source
	url = https://github.com/Freed-Wu/fzf-tab-source
[submodule "zsh/plugins/zsh-defer"]
	path = zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "theme/eza"]
	path = theme/eza
	url = https://github.com/catppuccin/eza.git
[submodule "theme/bat"]
	path = theme/bat
	url = https://github.com/catppuccin/bat.git
